@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

:root{
    --white: #f5f5f5;
    --black: black;
    --grey: grey;
    --light-grey: rgb(59, 56, 56);
    --blue: rgb(95, 95, 148);
}

html,
body {
    scroll-behavior: smooth;
    background-color:  #fcc5c5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black;
    font-size: medium;
    overflow-x: hidden;
    display: flex;
    width: 100vw;

}

a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}

a:hover {
    opacity: 0.5;
    /* background-color:#220022; */
    font-weight: bold;
    color:#000000;

}
.sidebar {
  background-color: #ff8f8f;
  width: 170px;
  height: 100vh;
  position: fixed;
  border-right: 1px solid #282727;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
  left: 0;
  top: 0;
}
#upload{
  display:none
}
.upper-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    justify-content: center;
}

.logo {
    width: 91px;
    margin: 0rem;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 20px;
}

.link {
    margin-left: 20px;
    display: flex;
    align-items: center;
    padding: 4px 0;
    color: var(--white);
    font-size: 1.8em;
}

.link:hover {
    /* background-color: #2e2e2e; */
    opacity: 0.5;
}

.sidebar .link i {
    margin-right: 10px;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    justify-content: center;
}

.bottom-container .link.a {
    color:black;
    text-decoration: none;
    font-size: small;
    margin: 5px;
}

.logo2 {
    display: none;
}

.bottom-navbar {
  background-color:#ff8f8f;
    display: none;
    border-top: 0px solid var(--grey);
    position: fixed;
    bottom: 0;
    width: 90%;
    height: 60px;
    background-color: transparent;
    color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin: auto;
}

.bottom-link {
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.gradient-bottomorder{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  padding: 2px;
}

.gradient-bottomorder img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--black);
}


.main-container {
  padding: 1rem;
  margin-left: 15%;
  /* height: auto; */
  overflow-x: auto;
  justify-content: space-between;
  display: flex;
  object-fit: cover;
  padding: 1rem;
  /* display: block; */
  width: 60vw;
  /* margin-left: auto; */
  height: auto;
  overflow-y: auto;
  }
  .story-post-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    /* height: 100vh; */
    width: 100%;
  }
  .stories-container {
    width: 50vw;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    padding: 10px 0;
    gap: 1rem;
    margin: auto;
  }
  .stories-container::-webkit-scrollbar { 
    display: none;
  }
  .story {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .story p {
    margin: 0.5rem 0rem;
    font-size: 10px;
    text-align: center;
    font-weight: 500;
  }
  .gradient-border {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    padding: 2px;
  }
  
  .gradient-border img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--black);
  }
  .card {
    position: relative;
    width: 100%;
    max-width: 450px;
    background: #fcc5c5;
    box-shadow: 15px 15px 60px black;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #393939;
}
.post {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.userdetail {
    display: flex;
    align-items: center;
}

.userdetail p {
    font-size: 16px;
    color:black;
    font-weight: 500;
    padding: 1rem;
}

.profile {
    margin: 2px;
}

.gradient-order {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    padding: 2px;
}

.gradient-order img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--black);
}

.instaimage {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 10px 0 15px;
}

.instaimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.actionbtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionbtns img {
    max-width: 24px;
    cursor: pointer;
}

.actionbtns .left img {
    margin-right: 8px;
}

.likes {
    font-size: 16px;
    color:black;
    font-weight: 500;
}

.message {
    font-weight: 400;
    margin-top: 5px;
    color: black;
    line-height: 1.5rem;
}
  .message b{
    color:black;
  }
  .comment{
    display: flex;
    margin-top: 10px;
    font-weight: 400;
    color:black;
  }
.addcomments{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.userimage{
 margin: 2px;
}
.text{
  width: 100%;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  color:black;
  background-color: #fcc5c5;
}
.postime{
  margin-top: 10px;
  font-weight: 400;
  color: #727272;
}

/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
    .card {
        width: 90%; /* Adjust width for smaller screens */
    }

    .instaimage {
        height: 300px; /* Adjust image height for smaller screens */
    }
}
.suggestion {
  position: absolute;
    top: 0;
    padding: 1rem;
    /* width: 11%; */
    width: 20%;
    margin-left: 55%;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 200px;
  margin: 0 auto;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  object-fit: cover;
  margin-right: 0.75rem;
}

.profile-info {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.profile-info-name {
  color: black;
  margin: 0.2rem 0rem;
}

.switch {
  color:blue;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
}

.profile-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0px 20px;
  width: 300px;
  margin: 0 auto;
}

.profile-list {
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 0.75rem;
  row-gap: 0.35rem;
  font-size: 0.5rem;
  padding-left: 0rem;
  color: var(--light-grey);
  margin-bottom: 0;
}
@media screen and (max-width: 900px) {
    .sidebar {
        width: 60px;
    }

    .upper-container {
        align-items: center;
        justify-content: center;
    }

    .link a {
        display: none;
    }

    .logo {
        display: none;
    }

    .logo2 {
        display: block;
        width: 50px;
        margin-left: -5px;
        margin-bottom: 1rem;

    }
    .main-container{
      width: 100vw;
      margin: auto;
    }
    .suggestion{
      display: none;
    }
}

@media screen and (max-width:600px) {
    .bottom-navbar {
      display: flex;
      background-color:#ff8f8f;
      border-top: 1px solid var(--grey);
      z-index: 1000;
  }
 .bottom-link {
        display: flex !important;
    }
    .sidebar{
        display: none;
        width: 0px;
    }
    .main-container,
    .post,
    .stories-container{
      width: 90vw;
      padding: 0rem 0rem;
      align-items: center;
      justify-content: center;
      display: flex;

    }
    .suggestion{
      display: none;
    }
  }